.car-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.cars-item {
    display: grid;

    grid-template-columns: auto auto;
    margin: 50px;

}

.cars-summary {
    text-align: center;
}

.summary-btn {
    padding: 10px;
    border-radius: 3px;
}



@media only screen and (max-width: 600px) {
    .cars-item {
        display: grid;
        grid-template-columns: auto;
    }


}