.car-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.cars-item {
    display: grid;

    grid-template-columns: auto auto;
    margin: 50px;




}

@media only screen and (max-width: 600px) {
    .cars-item {
        display: grid;
        grid-template-columns: auto;
    }
}

.cars-summary {
    /* border: 1px solid royalblue; */
}